# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


gradle/*

.idea/*

.idea/

project/*

target/*

## SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/